@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-container: var(--container);
  --color-backdrop: var(--backdrop);
  --color-muted-backdrop: var(--muted-backdrop);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    "Apple Color Emoji",
    "Segoe UI Emoji";
}

@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 235 12% 21%;
    --primary-foreground: 0 0% 98%;
    --secondary: 218 11% 46%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 14% 90%;
    --muted-foreground: 217 14% 68%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 22% 90%;
    --border-dimension-50: linear-gradient(
      180deg,
      hsl(207 22% 95%) 0%,
      hsl(207 22% 90%) 50%,
      hsl(207 22% 85%) 100%
    );
    --border-dimension-100: linear-gradient(
      180deg,
      hsl(207 22% 98%) 0%,
      hsl(207 22% 90%) 50%,
      hsl(207 22% 80%) 100%
    );
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 30 80% 54.9%;
    --chart-2: 339.8 74.8% 54.9%;
    --chart-3: 219.9 70.2% 50%;
    --chart-4: 160 60% 45.1%;
    --chart-5: 280 64.7% 60%;
    --container: 210 29% 97%;
    --backdrop: 210 88% 14% / 0.25;
    --muted-backdrop: 210 88% 14% / 0.1;
    --panel-left-width: 500px;
    --panel-right-width: 500px;
    --sidebar-width: 16rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: oklch(0.72 0.15 60);
    --chart-2: oklch(0.62 0.2 6);
    --chart-3: oklch(0.53 0.2 262);
    --chart-4: oklch(0.7 0.13 165);
    --chart-5: oklch(0.62 0.2 313);
    --container: oklch(0.98 0 247);
    --backdrop: oklch(0.25 0.07 252 / 0.25);
    --muted-backdrop: oklch(0.25 0.07 252 / 0.1);
    --radius: 0.5rem;
    --panel-left-width: 500px;
    --panel-right-width: 500px;
    --sidebar-width: 3rem;
  }
}

@layer utilities {
  /* Background Utilities */
  .bg-background {
    background-color: hsl(var(--background));
  }
  .bg-card {
    background-color: hsl(var(--card));
  }
  .bg-popover {
    background-color: hsl(var(--popover));
  }
  .bg-primary {
    background-color: hsl(var(--primary));
  }
  .bg-secondary {
    background-color: hsl(var(--secondary));
  }
  .bg-backdrop {
    background-color: hsl(var(--backdrop));
  }
  .bg-muted {
    background-color: hsl(var(--muted));
  }
  .bg-accent {
    background-color: hsl(var(--accent));
  }
  .bg-container {
    background-color: hsl(var(--container));
  }
  .bg-destructive {
    background-color: hsl(var(--destructive));
  }
  .bg-input {
    background-color: hsl(var(--input));
  }
  .bg-border {
    background-color: hsl(var(--border));
  }

  /* Text Utilities */
  .text-primary {
    color: hsl(var(--primary));
  }
  .text-primary-foreground {
    color: hsl(var(--primary-foreground));
  }
  .text-secondary {
    color: hsl(var(--secondary));
  }
  .text-secondary-foreground {
    color: hsl(var(--secondary-foreground));
  }
  .text-foreground {
    color: hsl(var(--foreground));
  }
  .text-card-foreground {
    color: hsl(var(--card-foreground));
  }
  .text-popover-foreground {
    color: hsl(var(--popover-foreground));
  }
  .text-muted-foreground {
    /* disabled color */
    color: hsl(var(--muted-foreground));
  }
  .text-accent-foreground {
    color: hsl(var(--accent-foreground));
  }
  .text-destructive-foreground {
    color: hsl(var(--destructive-foreground));
  }
  .text-destructive {
    color: hsl(var(--destructive));
  }
  .text-backdrop {
    color: hsl(var(--backdrop));
  }

  /* Border Utilities */
  .border-border {
    border-color: hsl(var(--border));
  }
  .border-dimension-50 {
    border-image: var(--border-dimension-50);
    border-image-slice: 1;
  }
  .border-dimension-100 {
    border-image: var(--border-dimension-100);
    border-image-slice: 1;
  }
  .border-flat {
    border: 1px solid hsl(var(--border));
  }
  .border-container {
    border-color: hsl(var(--container));
  }

  /* Ring Utilities */
  .ring-ring {
    --tw-ring-color: hsl(var(--ring));
  }

  /* Hover Utilities */
  .hover\:bg-primary\/90:hover {
    background-color: hsl(var(--primary) / 0.9);
  }
  .hover\:bg-muted\/90:hover {
    background-color: hsl(var(--muted) / 0.9);
  }
  .hover\:bg-backdrop:hover {
    background-color: hsl(var(--muted-backdrop));
  }
  .hover\:bg-container:hover {
    background-color: hsl(var(--container));
  }
  .hover\:text-secondary:hover {
    color: hsl(var(--secondary));
  }
}
